
@{
    ViewBag.Title = "Index";
}
<h1>Index</h1>

<a class="btn btn-default" href="Category" style="margin-bottom: 10px;">Category</a><br />
<a class="btn btn-default" href="Customers" style="margin-bottom: 10px;">Customers</a><br />
<a class="btn btn-default" href="Employees" style="margin-bottom: 10px;">Employees</a><br />
<a class="btn btn-default" href="OrderDetails" style="margin-bottom: 10px;">Order Details</a><br />
<a class="btn btn-default" href="Orders" style="margin-bottom: 10px;">Orders</a><br />
<a class="btn btn-default" href="Product" style="margin-bottom: 10px;">Products</a> <br />
<a class="btn btn-default" href="Shippers" style="margin-bottom: 10px;">Shippers</a> <br />
<a class="btn btn-default" href="Suppliers" style="margin-bottom: 10px;">Suppliers</a> <br />