
@{
    ViewBag.Title = "UpdateCategory";
}

<h2>UpdateCategory</h2>
 
<h2>This is the Updated Rows</h2>
<p>@ViewBag.CatId<br />
    @ViewBag.CatName<br />
    @ViewBag.CatDes<br />
    </p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />

