
@{
    ViewBag.Title = "UpdateShippers";
}

<h2>UpdateShippers</h2>

<p>
    @ViewBag.ShipId<br />
@ViewBag.ShCN<br />
@ViewBag.ShP<br />
</p>
<a class="btn btn-default" href="Index" style="margin-bottom: 10px;">Return</a><br />